@page
@model TarefaApp.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="box" id="heading">
    <h1>Tarefa App</h1>
    <hr />
</div>

<div class="box">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Tarefa
                </th>
                <th>
                    Data
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Tarefa != null && Model.Tarefa.Any())
            {
                @foreach (var item in Model.Tarefa)
                {
                    <tr class="item">
                        <td>
                            <input type="checkbox"/>
                        </td>
                        <td>
                            @item.Descricao
                        </td>
                        <td>
                            @item.Data.ToString("d")
                        </td>
                        <td>
                            <a asp-page="TarefaMaster/Editar" asp-route-id="@item.Id">Editar</a> |
                            <a asp-page="TarefaMaster/Excluir" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">
                        Não há tarefas adicionadas.
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="space">  
        <a asp-page="TarefaMaster/Criar" class="btn btn-primary">Criar</a>
    </div>
    <br />

</div>
