@page
@model TarefaApp.Pages.TarefaMaster.EditModel

@{
    ViewData["Title"] = "Editar";
}

<div class="box" id="heading">
    <h1>Editar</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tarefa.Id" />
            <div class="form-group">
                <label class="control-label">Descrição</label>
                <input asp-for="Tarefa.Descricao" class="form-control" />
                <span asp-validation-for="Tarefa.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data</label>
                <input asp-for="Tarefa.Data" class="form-control" />
                <span asp-validation-for="Tarefa.Data" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mt-2">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <hr />
        <div class="space">
            <a asp-page="../Index" class="btn btn-success">Voltar</a>
        </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
